@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Poppins&family=Roboto&family=Source+Sans+Pro:ital,wght@0,300;0,700;1,600&display=swap');
@font-face {
    font-family: 'interstateregular';
    src: url('interstate-regular-webfont.woff2') format('woff2'),
         url('interstate-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.wrapper{
    height:100vh;
    width:100%;
}
a{
    color:white;
}
.header{
    height:5vh;
    width:100%;
    background-color:#072227;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    height:3vh;
    width:100%;
    background-color:#4FBDBA;
    display:flex;
    align-items: center;
    justify-content: center;
}
.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu ul li{
    margin:10px;
    padding:0px 10px;
    font-size: 14px;
    color:#072227;
    border-radius: 5px;
    transition:.4s ease-out;
    cursor: pointer;
    user-select: none;
}

.menu ul li:hover{
    background: #40D3DC;
}

.content{
    height:auto;
    width:100%;
    background-color:whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.banner{
    width:65%;
    height:35vh;
    border-radius:10px;
    display: flex;
    justify-content: center;
}
.slider{
    height:36vh;
    display:flex;
    overflow: hidden;
}
.slides{
    display:flex;
    align-items: center;
    width:400%;
}
.slide{
    width:25%;
    transition:1s;
}
.slide img{
    border-radius: 10px;
}
.slides input{
    display: none;
}
.nav{
    position:absolute;
    width:65%;
    margin-top: 250px;
    display: flex;
    justify-content: center;
}
.btn{
    border:2px solid #40D3DC;
    padding:5px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
    margin-right:20px;
}
.btn:hover{
    background: #40D3DC;
}

#r1:checked ~ .first{
    margin-left:0;
}
#r2:checked ~ .first{
    margin-left:-25%;
}
#r3:checked ~ .first{
    margin-left:-50%;
}
#r4:checked ~ .first{
    margin-left:-75%;
}


.container{
    width:60%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height:30px;
    width:100px;
    margin:0px 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.logo p{
    font-family: interstateregular;
    font-size:28px;
    font-weight: 600;
    color:#40D3DC;
}
.search{
    height:30px;
    width:600px;
    margin:0px 10px;
}
.search form{
    height:100%;
    width:100%;
}
.search input{
    height:100%;
    width:100%;
    border-radius: 5px;
}
input[type="text"]{
    padding:0px 10px;
}
.buttons{
    height:30px;
    width:180px;
    margin:0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}
.buttons svg:hover{
    stroke: #AEFEFF;
}
.button1{
    height:30px;
    width:80px;
    margin:0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button1 p{
    font-weight:600;
}
.button2{
    height:25px;
    width:auto;
    margin:0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition:.4s;
    text-align:center;
}
.signup, .login{
    transition:.4s;
    user-select: none;
}
.signup:hover,.login:hover{
    color:#40D3DC;
}
.logout:hover{
    color:#072227;
}
.user{
    user-select: none;
}

.toast{
    margin:5px auto; 
    display:flex; 
    justify-content:center;
    align-items: center;
    user-select: none;
    transition: .4s;
    position: absolute;
    margin-left: auto; 
    margin-right: auto; 
    left:0;
    right:0;
    background: white;
    z-index: 4;
}

.button3{
    height:25px;
    width:25px;
    margin:0px 5px;
    display: none;
    align-items: center;
    justify-content: center;
}
.button4{
    height:25px;
    width:25px;
    margin:0px 5px;
    display: none;
}

.msearch{
    height:40px;
    width:300px;
    margin:0px 10px;
    position:absolute;
    display: none;
    left:0;
    right:0;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5px;
    background-color: #072227;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition:.4s;
}
.msearch form{
    height:75%;
    width:95%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.msearch input{
    height:100%;
    width:100%;
    border-radius: 5px;
}
.msearch input[type="text"]{
    border:1px solid #4FBDBA;
    background-color:#072227;
}
.msearch input[type="submit"]{
    width:70px;
    margin:0px 5px;
    border:none;
    background-color: #4FBDBA;
    color:#072227;
}
.profilemenu{
    display:none;
    align-items: center;
    justify-content: center;
    height:auto;
    width:15vh;
    position:absolute;
    top:5vh;
    background-color:rgba(53, 133, 139,0.8);
    border-radius: 5px;
    transition: .4s ease;
    z-index:5;
}
.profilemenu:hover{
    color:white;
}
.profilemenu ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height:100%;
    width:100%;
}
.profilemenu ul li{
    color:white;
    transition:.4s;
}
.profilemenu ul li:hover{
    color:#072227;
}
.mobilemenu{
    display: none;
    align-items: center;
    justify-content: center;
    height:30vh;
    width:100%;
    background-color:rgba(53, 133, 139,0.9);
    position:absolute;
    z-index:5;
}
.mobilemenusvg{
    border-radius: 5px;
    transition:.4s;
}
.mobilemenusvg:hover{
    background:#4FBDBA;
}
.mobilemenu ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mobilemenu ul li{
    margin:10px;
    padding:5px 20px;
    font-size: 14px;
    color:#072227;
    border-radius: 5px;
    transition:.4s ease-out;
}

.mobilemenu ul li:hover{
    background: #40D3DC;
}
.profilemenu ul li{
    padding:5px;
}

.recommendation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:62vh;
    width:72%;
    /*background: #072227;*/
    margin:10px;
    flex-wrap: wrap;
}

.recommendation .heading{
    height:5vh;
    width:100%;
    margin:5px;
    /*background: #4FBDBA;*/
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.recommendation .heading h2{
    margin:0px 10px;
    color:#072227;
}
.recommendation .heading span{
    color:#40D3DC;
    background: #072227;
    padding:5px;
    border-radius: 5px;
}
.recommendation .list{
    height:55vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background-color: white;
    border-radius:5px;
    overflow: auto;
}
.list .m{
    height:48vh;
    width:12vw;
    /*background: #4FBDBA;*/
    border-radius: 5px;
    margin:5px 20px;
    transition:.4s;
}
.list .m img{
    width:12vw;
    border-radius: 5px;
    transition:.4s;
}
.list .m img:hover{
    margin:1px 1px;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.list .m h3, .list .m p{
    color:#072227;
}

.advertisement{
    height:20vh;
    width: 77%;
    margin:10px;
    border-radius: 5px;
    /*background: #072227;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout{
    display:none;
}

.movie-images{
    height: 38vh;
    width:12vw;
    border-radius: 5px;
}

.imax{
    background: white;
    width:70%;
    height:60vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    margin-left: auto; 
    margin-right: auto; 
    left:0;
    right:0;
    z-index:2;
    border-radius: 5px;
    border:1px solid grey;
}
.imax .m {
    padding:10px;
    border:1px dashed grey;
}
.cinemas{
    background: white;
    width:70%;
    height:20vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    margin-left: auto; 
    margin-right: auto; 
    left:0;
    right:0;
    z-index:2;
    border-radius: 5px;
    border:1px solid grey;
}
.cinemas h4{
    padding:5px;
    margin:5px;
    border:1px dashed grey;
    border-radius: 5px;
    transition:.2s;
}
.cinemas h4:hover{
    border:1px solid #40D3DC;
}
.bookings{
    background: white;
    width:60%;
    height:auto;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    margin-left: auto; 
    margin-right: auto; 
    left:0;
    right:0;
    z-index:2;
    border-radius: 5px;
    border:1px solid grey;
}
.bookings .booking{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:5px;
    margin:5px;
    border:1px dashed #40D3DC;
}

@media only screen and (max-width:988px){
    .wrapper{
        width:100%;
    }
    .content{
        width:100%;
    }
    .header{
        width:100%;
    }
    .logo{
        margin:0px 10px;
    }
    .buttons{
        margin:0px 10px;
    }
    .recommendation{
        height:auto;
        width:100%;
        flex-direction: column;
    }
    .recommendation .list{
        width:100%;
        height:65vh;
        justify-content: flex-start;
    }
    
    .recommendation .list .m{
        width:200px;
        height:30vh;
    }
    .recommendation .list .m img{
        height:25vh;
        width:35vw;
    }
    .advertisement{
        width: 70%;
    }
}
@media only screen and (max-width:768px){
    .wrapper{
        height:auto;
        width:100%;
    }
    .button3{
        display:flex;
    }
    .header .container{
        display: flex;
        width:95%;
        justify-content:space-around;
    }
    .menu{
        display:none;
    }
    .banner{
        display: none;
    }

    .nav{
        position:absolute;
        width:105%;
        margin-top: 180px;
        display: flex;
        justify-content: center;
    }
    .btn{
        border:2px solid #40D3DC;
        padding:5px;
        border-radius:10px;
        cursor:pointer;
        transition:.3s;
        margin-right:20px;
    }
    .recommendation{
        height:auto;
        width:90%;
        flex-direction: column;
    }
    .recommendation .heading{
        height:10vh;
        margin:5px 0px;
    }
    .recommendation .heading h2{
        display: flex;
        font-size: 20px;
        flex-wrap: wrap;
        margin:0px 5px;
        color:#072227;
    }
    .recommendation .heading span{
        padding:3px;
        margin:0px 8px;
        border-radius: 5px;
    }
    .recommendation .list{
        width:100%;
        height:40vh;
        justify-content: flex-start;
    }
    
    .recommendation .list .m{
        width:200px;
        height:30vh;
    }
    .recommendation .list .m img{
        height:25vh;
        width:35vw;
    }
    .recommendation .list .m h3{
        font-size: 17px;
    }
    .recommendation .list .m p{
        font-size: 14px;
    }
    .advertisement{
        width: 70%;
    }
    .advertisement img{
        width:100%;
    }
    .mobilemenu{
        z-index:5;
    }
    .imax{
        height:130vh;
        width:100%;
        flex-direction: column;
        margin-top:50px;
    }
    .imax .recommendation{
        height:auto;
        flex-direction: column;
    }
    .imax .list{
        flex-direction: column;
        height:auto;
    }
    .imax .list .m{
        height:auto;
    }
    .cinemas{
        height:auto;
    }
    .login, .signup{
        margin:2px;
    }
}